/* 기본설정 시작 */
html{
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
}
/* 기본설정 끝 */

.header{
  width: 100%;
  height: 100px;
  background-color: white;
  color: black;
  align-items: center;
  font-size: 30px;
  font-family: poppins-semibold,poppins,sans-serif;
  display: flex;
  padding-left: 5.5%;
  
}
.body{
  width: 100%;
  height: calc(100vh - 100px);
  background-color: antiquewhite;
}

.headerIcon{
  justify-self: end;
  position: absolute;
  right: 50px;
}

.textHead {
  font-size: 4rem;
  padding-left: 5.5%;
  padding-top: 7.7%;

}

.textHead h1 {
  margin: 0;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.category {
  font-size: 2rem;
  position: absolute;
  z-index: 0;
  right: 4rem;
  padding-right: 7.7%;
}

table td{
  padding-right: 3rem;
}

img{
  position: absolute;
  right: 0;
  padding-right: 7.7%;
  top: -1rem;
}

.foot {
  margin: 4rem;
}

.footer{
  width: 100%;
  height: 100px;
  background-color: white;
  color: black;
  align-items: center;
  font-size: 30px;
  font-family: poppins-semibold,poppins,sans-serif;
  display: flex;
  padding-left: 5.5%;
  position: absolute;
  bottom: 0;
}

.seconDiv{
  padding: 0;
  margin-top: 15rem;
  width: 50%;
  height: 1250px;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);
  display: block;
}

.seconDiv img {
  left: 7.5rem;
  padding-left: 5.5%;
  width: 25%;
  margin-top: 90rem;
}

.wrap{
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}

.introduce{
  display: inline-block;
  background-color: black;
  width: 100%;
  height: 1250px;
  color: white;
  position: relative;
  left: 100%;
}

.introduce h1{
  text-align: center;
}

.introduce p {
  text-align: center;
  font-size: 20px;
}

.border{
  left: 16rem;
  position: absolute;
}

.mypage{
  left: 23rem;
  position: absolute;
}

.loglocation{
  right: 16rem;
  position: absolute;
}

.welcomeUser{
  position: absolute;
  right: 25rem;
}

.register{
  right: 7rem;
  position: absolute;
}

.loginregister {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: beige;
}
.loginregister__input {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  margin: 10px;
}
.loginregister__button {
  background-color: rgb(248, 47, 98);
  color: rgb(255, 255, 255);
  font-weight: 700;
  width: 100%;
  border-radius: 40px;
  height: 48px;
  margin-top: 10px;
}

.write{
  position: absolute;
  right: 0;
  margin-right: 7.7%;
}

.qna{
  position: absolute;
  left: 33rem;
}

.grouppurchase{
  position: absolute;
  left: 37.5rem;
}

/* 간지나는 a 링크 호버 기능 시작  */
.menu a {
  color: black;
  font-family: tahoma;
  font-size: 17pt;
  font-weight: 400;
  padding: 15px 25px;
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.SMN_effect-67 a {
    position: relative;
  }
  .SMN_effect-67 a:after {
    content: attr(data-hover);
    position: absolute;
    left: 2px;
    text-shadow: -3px 0 red;
    top: 0;
    color: #fff;
    background: white;
    overflow: hidden;
    padding: 15px 25px;
    clip: rect(0, 900px, 0, 0);
  
  }
  .SMN_effect-67 a:before {
    content: attr(data-hover);
    padding: 15px 25px;
    position: absolute;
    left: -2px;
    text-shadow: 3px 0 blue;
    top: 0;
    color: #fff;
    background: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
  
  }
  .SMN_effect-67 a:hover:before {
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
  .SMN_effect-67 a:hover:after {
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  @keyframes noise-anim {
    0% {clip: rect(12px, 9999px, 45px, 0);}
    5% {clip: rect(83px, 9999px, 35px, 0);}
    10% {clip: rect(32px, 9999px, 20px, 0);}
    15% {clip: rect(38px, 9999px, 37px, 0);}
    20% {clip: rect(2px, 9999px, 82px, 0);}
    25% {clip: rect(72px, 9999px, 52px, 0);}
    30% {clip: rect(42px, 9999px, 86px, 0);}
    35% {clip: rect(78px, 9999px, 17px, 0);}
    40% {clip: rect(75px, 9999px, 99px, 0);}
    45% {clip: rect(91px, 9999px, 39px, 0);}
    50% {clip: rect(83px, 9999px, 13px, 0);}
    55% {clip: rect(36px, 9999px, 88px, 0);}
    60% {clip: rect(38px, 9999px, 50px, 0);}
    65% {clip: rect(39px, 9999px, 58px, 0);}
    70% {clip: rect(15px, 9999px, 75px, 0);}
    75% {clip: rect(69px, 9999px, 45px, 0);}
    80% {clip: rect(10px, 9999px, 30px, 0);}
    85% {clip: rect(99px, 9999px, 3px, 0);}
    90% {clip: rect(3px, 9999px, 9px, 0);}
    95% {clip: rect(42px, 9999px, 67px, 0);}
    100% {clip: rect(28px, 9999px, 61px, 0);}
  }
  @keyframes noise-anim-2 {
    0% {clip: rect(55px, 9999px, 11px, 0);}
    5% {clip: rect(53px, 9999px, 93px, 0);}
    10% {clip: rect(22px, 9999px, 87px, 0);}
    15% {clip: rect(16px, 9999px, 72px, 0);}
    20% {clip: rect(16px, 9999px, 34px, 0);}
    25% {clip: rect(24px, 9999px, 48px, 0);}
    30% {clip: rect(16px, 9999px, 44px, 0);}
    35% {clip: rect(24px, 9999px, 32px, 0);}
    40% {clip: rect(54px, 9999px, 55px, 0);}
    45% {clip: rect(61px, 9999px, 61px, 0);}
    50% {clip: rect(38px, 9999px, 62px, 0);}
    55% {clip: rect(16px, 9999px, 31px, 0);}
    60% {clip: rect(63px, 9999px, 86px, 0);}
    65% {clip: rect(91px, 9999px, 27px, 0);}
    70% {clip: rect(6px, 9999px, 1px, 0);}
    75% {clip: rect(13px, 9999px, 52px, 0);}
    80% {clip: rect(3px, 9999px, 81px, 0);}
    85% {clip: rect(62px, 9999px, 96px, 0);}
    90% {clip: rect(1px, 9999px, 26px, 0);}
    95% {clip: rect(41px, 9999px, 83px, 0);}
    100% {clip: rect(6px, 9999px, 9px, 0);}
  }
/* 간지나는 a 링크 호버 기능 끝  */

/* 공구쪽 아이콘 css */

button{
  background: none;
  color: inherit;
  border: none;
}

li, ul{
  list-style: none;
  display: flex;
}

li {
  margin: 20px 20px;
}

.ImgBackGroud{
  position: relative;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #f2f4f6;
  padding: 6px;
  width: 56px;
  height: 56px;
  overflow: hidden;
  cursor: pointer;
}

.CategoriImgTech{
  background-image: url(https://cdn3.wadiz.kr/category/icon/category_tech.png);
  width: 50px;
  height: 50px;
  background-size: 85% 90%;
}
.CategoriImgPublishing{
  background-image: url(https://cdn3.wadiz.kr/category/icon/category_publishing.png);
  width: 50px;
  height: 50px;
  background-size: 85% 90%;
}
.CategoriGive{
  background-image: url(https://cdn3.wadiz.kr/category/icon/category_campaign.png);
  width: 50px;
  height: 50px;
  background-size: 88% 90%;
}
.CategoriGive2{
  background-image: url(https://cdn3.wadiz.kr/category/icon/category_donation.png);
  width: 50px;
  height: 50px;
  background-size: 87% 90%;
}
.CategoriMeeting{
  background-image: url(https://cdn3.wadiz.kr/category/icon/category_community.png);
  width: 50px;
  height: 50px;
  background-size: 88% 90%;
}

.PundingCatagori{
 position: relative;
 left: 34%;
}

/* ==================아이콘끝 구분선 시작=============================== */
/* 이거는 태극무늬 구분선임 */
.hr-how {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;
  overflow: visible;
  text-align: center;
}
.hr-how:after {
  background: white;
  content: "☯ ☯ ☯";
  display: inline-block;
  font: "BodoniXT" !important;
  font-size: 0.9em;
  padding: 0 0.6em;
  position: relative;
  top: -0.7em;
}

/* ======================구분선 끝==셔치박스시작========================= */
.search-box {
  position: absolute;
  left: 50%;
  margin-top: 2%;
  transform: translate(-50%, -50%);
  background-color: #949BA0;
  height: 40px;
  padding: 10px;
  border-radius: 40px; 
}

.search-btn {
  color: #EDEDED;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #949BA0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-txt {
  float: left;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  line-height: 40px;
  width: 0; 
  transition: 0.5s; 
}

.search-box:hover > form .search-txt {
  width: 200px;
}

.search-box:hover > form .search-btn {
  background: #464E54;
}
/* ==================================박스끝 */
.selectOption1{
  position: relative;
  left: 57%;
}

form{
  display: inline;
}

/* ======================================= */

hr {
  background-color: #fff;
  padding: 0;
  margin: 80px;
}

hr.hr-15 {
  border: 0;
  border-top: 4px double #8c8c8c;
  text-align: center;
}

hr.hr-15:after {
  content: '\2665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: #8c8c8c;
  font-size: 18px;
}

.cells{
  display: flex;
  justify-content: space-around
}

.cell1{
  background-image: url(https://cdn.wadiz.kr/wwwwadiz/green001/2022/1004/20221004113726863_162380.png/wadiz/format/jpg/quality/80/optimize);
  width: 560px;
  height: 360px;
  background-size: 100% 100%;
}
.cell2{
  background-image: url(https://cdn.wadiz.kr/wwwwadiz/green001/2022/1013/20221013101607348_162383.png/wadiz/format/jpg/quality/80/optimize);
  width: 560px;
  height: 360px;
  background-size: 100% 100%;
}

.QnaNavBar{
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
  
}

hr.hr-2 {
  border: 0;
  border-bottom: 2px dashed #eee;
  background: #999;
  margin: 0px;
}

.pagination {
  justify-content: center;
  font-size: x-large;
}

.QnaWiterBox{
  position: absolute;
  left: 50%;
  margin-top: 2%;
  transform: translate(-50%, -50%);
  height: 40px;
  padding: 10px;
  
}